.SingleDatePicker, .SingleDatePickerInput {
    width: 100% !important;
    display: block !important;
}

.DateInput {
    width: 100% !important;
}

.DateInput_input {
    text-align: center;
}

@font-face {
    font-family: 'JERSEY_NUMBER_FONT';
    src: url('Jersey25-Regular.woff2');
}

#cytoscape-layout-5 {
    background-blend-mode: multiply;  /* Apply blend mode */
}

